.container {
    box-sizing: content-box;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    // Small tablets and large smartphones (landscape view)
    @include rwd(767) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include rwd(700) {
        padding-left: 0;
        padding-right: 0;
    }
    // Small tablets (portrait view)
    @include md {
        padding-left: 10px;
        padding-right: 10px;
    }
    // Tablets and small desktops
    @include lg {
        padding-left: 20px;
        padding-right: 20px;
    }
    // Extra large desktops
    @include xl {
        padding: 0 20px;
        max-width: 1200px;
        width: 100%;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    // Extra large desktops
    @include maxlg {
        justify-content: center;
    }
    &__1-1-col {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
    &__1-2-col {
        margin: 0;
        width: 50%;
        box-sizing: border-box;
    }
    &__1-3-col {
        margin: 0;
        width: calc(100% * 1 / 3.001);
        box-sizing: border-box;
    }
    &__1-5-col {
        margin: 0;
        width: 20%;
        box-sizing: border-box;
    }
    .flex-container {
        padding: 0;
    }
}

@include maxlg {
    .flex-container__1-1-col-lg {
        margin: 0;
        width: 100%;
    }
    .flex-container__1-3-col-lg {
        margin: 0;
        width: calc(100% * 1 / 3.001);
    }
    .d-flex {
        display: flex;
    }
    .d-flex-end {
        display: flex;
        justify-content: flex-end;
    }
}

@include rwd(700) {
    .flex-container__1-1-col-md {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
}

.section {
    min-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact {
    &__form-container {
        padding-left: 40px;
    }
    @include maxlg {
        &__form-container {
            position: relative;
            padding: 0 20px;
            width: 100%;
            margin: 5rem auto;
        }
    }
    @include rwd(700) {
        &__form-container {
            margin: 5rem auto;
        }
    }
}

.section--white {
    min-height: 72rem;
    background: $white;
    @include maxlg {
        min-height: 90rem;
    }
}

@include maxlg {
    .width-max-4-5 {
        max-width: 80%;
    }
    .tablet-position {
        position: relative;
        top: 8rem;
        @include rwd(700) {
            top: 5rem;
        }
    }
}

@include rwd(700) {
    body .mobile-position {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .mobile-position {
        .shadow-box {
            margin: 0 auto;
            width: 98%;
            top: 5rem;
        }
    }
    .extra-information-block {
        max-width: 100%;
        right: 0;
        padding: 3rem;
        width: calc(100% - 20px);
    }
    .shadow-box,
    .extra-information-block {
        position: relative;
        left: 0;
    }
    .width-max-4-5 {
        max-width: 100%;
    }
    body .mobile-join {
        .shadow-box {
            width: 98%;
            margin: 0 auto;
        }
    }
    .mobile-how-to-join {
        margin-left: 0;
    }
    .mobile-about-turnament {
        padding: 0;
        margin-left: 0;
        .mobile-position {
            left: 0;
        }
    }
}

@include rwd(480) {
    .mobile-position {
        .shadow-box {
            width: 96%;
        }
    }
    body .mobile-join {
        .shadow-box {
            width: 96%;
        }
    }
}

@include rwd(340) {
    .section-contact {
        &__form-container {
            padding: 0 10px;
        }
    }
}