.header {
    &__container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include maxlg {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    @include maxmd {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include rwd(1300) {
        .header__container {
            max-width: calc(100% - 40px);
        }
    }
    @include rwd(700) {
        .header__container {
            max-width: calc(100% - 0px);
        }
    }
}