.prize {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 20rem;
    &__svg {
        height: 12rem;
    }
    &:hover {
        .h2 {
            color: $dark-green;
        }
    }
    @include maxlg {
        margin-bottom: 3rem;
    }
}

.exposition-box {
    min-height: 35rem;
    padding: 4.5rem 3rem 3.5rem 7rem;
    position: relative;
    z-index: -1;
    &:before {
        content: '\f10e';
        font-family: 'Fontawesome';
        font-style: normal;
        font-size: 24px;
        color: rgba(255, 255, 255, .15);
        position: absolute;
        left: 30px;
        top: 45px;
    }
    &:after {
        content: '';
        background: rgb(63, 174, 73);
        width: 5rem;
        height: 100%;
        top: 0;
        left: -5rem;
        position: absolute;
    }
    @include maxlg {
        padding: 9.5rem 3rem 3.5rem 7rem;
        position: relative;
        top: 5rem;
        z-index: 0;
        &:before {
            top: 95px;
        }
    }
    @include rwd(992) {
        &:after {
            display: none;
        }
    }
    @include rwd(700) {
        top: 0;
        left: 0;
        padding: 8rem 3rem;
        &:before {
            top: 60px;
            right: 34px;
            left: auto;
            font-size: 8rem;
        }
    }
}

.extra-information-block {
    max-width: 50rem;
    width: 100%;
    position: relative;
    right: -60px;
    padding: 3.6rem 4.3rem;
    min-height: 22rem;
    @include maxlg {
        position: relative;
        z-index: -1;
        padding-left: 3rem;
        top: 13rem;
        margin-bottom: 1rem;
        &:before {
            content: '';
            background: $dark-green;
            width: 3rem;
            height: 100%;
            top: 0;
            left: -3rem;
            position: absolute;
        }
    }
    @include maxxl {
        right: 0;
    }
    @include rwd(700) {
        padding: 3rem;
        right: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        top: 33rem;
        &:before {
            display: none;
        }
    }
}

.extra-information-block__entry {
    @include rwd(700) {
        margin-bottom: 2rem;
    }
    &--last {
        margin-bottom: 0;
    }
}

.exposition-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
    &__img {
        height: 66px;
        width: 66px;
        border-radius: 32px;
        margin-right: 2rem;
    }
}

.table-img {
    width: 70rem;
    height: 46rem;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    right: 100px;
    top: 100px;
    @include rwd(1300) {
        width: 66rem;
    }
    @include rwd(1100) {
        width: calc(100% + 4rem);
        right: 30px;
    }
    @include maxlg {
        width: 66rem;
        height: auto;
        right: -3rem;
        top: 0;
    }
    @include rwd(840) {
        width: 56rem;
        height: auto;
        right: -3rem;
    }
    @include rwd(700) {
        width: 100%;
        max-width: 100%;
        height: 32rem;
        right: 0;
        top: -31rem;
        left: 0;
    }
}

.office-img {
    height: 42rem;
    -o-object-fit: cover;
    object-fit: cover;
    @include maxlg {
        height: 36rem;
        margin-top: 12rem;
    }
    @include rwd(700) {
        margin-top: 0rem;
    }
}