html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: #F5F5F5;
}

img {
    width: 100%;
    height: auto;
}

textarea {
    vertical-align: top;
}

a {
    color: #fff;
    text-decoration: none;
}

a,
a:active,
a:focus {
    outline: none;
    /* Works in Firefox, Chrome, IE8 and above */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    color: $white;
    background: $dark-green;
    ;
}

::-webkit-scrollbar-track {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background: $dark-green;
}

 ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}